html, body {
	margin: 0;
	padding: 0;
}


body {
	background: #EEE;

	font-size: 14px;
	line-height: 1.6;
}

#content {
	width: 750px;
	margin: 50px auto;
	padding: 20px;
	background: #FFF;
	border: 5px solid #CCC;
}

h1 {
	margin: 0;
}

hr {
	border: none;
	/*height: 1px;*/
	line-height: 1px;
	background: #CCC;
	margin-bottom: 20px;
	padding: 0;
}

p {
	margin: 0;
	padding: 7px 0;
}

.clear {
	clear: both;
	line-height: 1px;
	font-size: 1px;
}

a {
	outline-color: #888;
}
.innerbottom{
width:33%;
float:left;
padding:2px;


}
.footer1{
      height: 50px;
      background: #2c2c2c url(../img/bg_pattern3.png) repeat;
      position:relative;
	  margin-top:20%;

      }
.img_left1 {
padding: 0px;
margin: 15px 20px 99px 0px;
float: left;
display: block;
}
#rotate{
width:46px;
height: 46px;
position: relative;
-webkit-transition:width 2s, height 2s, -webkit-transform 2s;
-moz-transition:width 2s, height 2s, -moz-transform 2s;
-o-transition:width 2s, height 2s, -o-transform 2s;
transition:width 2s, height 2s, transform 2s;



}
#rotate:hover{

width: 70px;
height: 70px;
	transform:rotate(180deg);
-moz-transform:rotate(180deg); /* Firefox 4 */
-webkit-transform:rotate(180deg); /* Safari and Chrome */
-o-transform:rotate(180deg); /* Opera */
}
