html, body {
	margin: 0;
	padding: 0;
}


body {
	background: #EEE;

	font-size: 14px;
	line-height: 1.6;
	background-image:url(img/pattern5.png);background-repeat:repeat;background-color:#fff;
}

#content {
	width: 750px;
	margin: 50px auto;
	padding: 20px;
	background: #FFF;
	border: 5px solid #CCC;
}

h1 {
	margin: 0;
}

hr {
	border: none;
	/*height: 1px;*/
	line-height: 1px;
	background: #CCC;
	margin-bottom: 20px;
	padding: 0;
}

p {
	margin: 0;
	padding: 7px 0;
}

.clear {
	clear: both;
	line-height: 1px;
	font-size: 1px;
}

a {
	outline-color: #888;
}
.innerbottom{
width:33%;
float:left;
padding:2px;


}
.footer1{
      height: 50px;
      background: #2c2c2c url(../img/bg_pattern3.png) repeat;
      position:relative;
	  margin-top:20%;

      }
.img_left1 {
padding: 0px;
margin: 0px 0px 16px 100px;
/*float: left;*/
display: block;
}
#rotate{
width:46px;
height: 46px;
position: relative;
-webkit-transition: -webkit-transform 2s;
-moz-transition: -moz-transform 2s;
-o-transition: -o-transform 2s;
transition: transform 2s;



}
#rotate:hover{

/*width: 70px;
height: 70px;*/
	transform:rotate(180deg);
-moz-transform:rotate(180deg); /* Firefox 4 */
-webkit-transform:rotate(180deg); /* Safari and Chrome */
-o-transform:rotate(180deg); /* Opera */
}
.top_A{
padding-left:5%;



}
div.shadow {
	width: 300px;
	margin: 20px;
	border: 1px solid #ccc;
	padding: 10px;
        
	}

div.shadow:hover {
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
        background-color:#00CCFF;
	}